/*first letter*/
p::first-letter {
    color: red;
    font-size: 40px;
}

/*first-line*/
p::first-line{
    color: green;
    text-transform: uppercase;
}

/*before*/
h2::before{
    content: "📢 ";
}

/*after*/
h2::after{
    content: " ✔";
    color: green;
}

/*selection*/
::selection {
    background-color: purple;
    color: white;
}

/*placeholder*/
input::placeholder{
    color: orange;
    font-weight: bold;
}

/*marker*/
li::marker{
    color: blue;
    font-size: 25px;
}