*{
    background-color: rgb(107, 219, 215);
}
h1{ 
    text-align: center;
    background-color: rgb(222, 208, 142);
    margin: 0;
    color: rgb(103, 75, 241);
   
}
.menu{
    display: flex;  /* content are arranged in row */
    flex-wrap: wrap; /* if the there isn't enough space the card is moved to the new row */
    gap: 20px; /* align the cards in middle*/
    justify-content: center; /*keeps the gap between the cards*/
    margin-top: 20px; /*top margin*/
}
.Coffee{
    width: 350px;
    border: 2px solid black;
    margin: 20px; 
    text-align: center;
    border-radius: 10px;
    overflow: hidden; /*keeps the corners clean */
    display: flexbox;

}
.Coffee img{
    width: 100%;
    height: 220px;
    object-fit: cover; 
    display: block;
}
section{
    background-color: white;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: auto;  

}
h4{
    background-color: white;
}
p{
    background-color: white;

}